.logo-blue-text {
  color: #1B3A6B;
}

.dark .logo-blue-text {
  color: rgba(255, 255, 255, 0.75);
}

.leaflet-control-attribution {
  display: none !important;
}

.dark .leaflet-tile {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
